body{
   margin:0%;
   padding: 0%;
  
}
.main{
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
button{
    width: 300px;
    height: 50px;
    background-color: rgb(169, 218, 252);
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 10%;
    margin: 10px;
    font-weight: bold;
  
    
}
.btn{
    text-align: center;
    justify-content:center;
    align-items: center;
    
}
.bdy{
    background-image: url("./Project-images/btnbg.jpg");
 
}

button:hover {background-color:yellow}



h2{
   color: rgb(99, 2, 2);
   margin: 0%;   
}
h1{
    margin: 0%;
}


